.env
deploy.ps1
__pycache__
*.pyc
auth.py
build_faiss.py
datapoints.json
convert_to_matching_engine.py
department_lookup.py
departments.jsonl
deploymentTerminalInfo.txt
doctor_lookup.py
exportFirestoreEmbeddings.py
index_config.json
load_departments.py
mcp_hospital.py
query_department.py
schedule_lookup.py
server_apicalls.py
upload_vectors.py
vector_index.py

